
.container{
  display: flex;
  width: 600px;
  margin: 10px;
  max-height: 250px;
  max-width: 600px;
  border-radius: 5px;
  background-color: white;
}

.image{
  object-fit: cover;
  object-position: center;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
}

.image:hover{
  transform: scale(1.01);
}

.productInfo{
  flex: 1;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  padding-bottom: 0.3rem;
}

.title{
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 10%;
}

.description{
    font-size: 1.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.subtitle{
    font-size: 1.2rem;
}

.icon{
  height: 30px;
  width: 30px;
  align-self: flex-end;
  margin: 20px 5px;
}